<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KrystalWebsite</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="bg-spaceimage" style="overflow-x:auto" >
    <script>
        function imgGal(imgID) {
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById(imgID);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        }
    </script>

    <header>
        
        <h1 class="text-center"><a class="headerlink" asp-area="" asp-page="/index" style="font-family: 'Playfair Display', serif;"><img id="Handinflowerleft" style="height:70px" src="~/Images/Handinflowerleft.jpg">Krystal Oliver<img id="Handinflower" style="height:70px" src="~/Images/Handinflower.jpg"></a></h1>
        
        <div class="container" style="width: 800px">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom-black box-shadow mb-3" style="font-family: 'Playfair Display', serif;">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Seminars
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/ArtPages/Seminars/Sr-Seminar">Senior Seminar</a>
                                    <a class="dropdown-item" href="/ArtPages/Seminars/Jr-Seminar">Junior Seminar</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/ArtPages/Graphic-Design">Graphic Design</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/ArtPages/Photography">Photography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/ArtPages/PhysicalWork">Physical Work</a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About the Artist
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/ArtPages/About/Bio">Biography</a>
                                    <a class="dropdown-item" href="/ArtPages/About/Resume">Resume</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
        <div class="container" style="margin-left: 125px">
            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
 
</body>
</html>


