@page
@model KrystalWebsite.Pages.ArtPages.Graphic_DesignModel
@{
}
<img id="GDbees" class="small1" src="~/Images/GDbees.jpg">
<img id="GDmahancolor" class="small1" src="~/Images/GDmahancolor.jpg">
<img id="GDwalk" class="small1" src="~/Images/GDwalk.jpg">
<img id="GDroadkill" class="small1" src="~/Images/GDroadkill.jpg">
<img id="GDmahannegative" class="small1" src="~/Images/GDmahannegative.jpg">
<img id="GDgif2" class="small1" src="~/Images/GDgif2.gif">
<img id="GDmother" class="small1" style="height:auto" src="~/Images/GDmother.jpg">
<img id="GDrenner" class="small1" style="width:550px"src="~/Images/GDrenner.jpg">
<img id="GDbeaverdam" class="small1" src="~/Images/GDbeaverdam.jpg">
<img id="GDincups" class="small1" src="~/Images/GDincups.jpg">
<img id="GDpainting" class="small1" src="~/Images/GDpainting.jpg">
<img id="GDsunrise" class="small1" style="height:auto" src="~/Images/GDsunrise.jpg">
<img id="GDwood" class="small1" style="height:auto" src="~/Images/GDwood.jpg">
<img id="GDgeom" class="small1" style="height:auto" src="~/Images/GDgeom.jpg">
<img id="GDbitchlight" class="small1" style="height:auto" src="~/Images/GDbitchlight.jpg">
<img id="GD1Jezzabeth" class="small1" style="height:auto" src="~/Images/GD1Jezzabeth.jpg">
<img id="GDgif1" class="small1" style="height:700px" src="~/Images/GDgif1.gif">
<img id="GDhalo" class="small1" style="height:auto" src="~/Images/GDhalo.jpg">
<img id="GDbitchdark" class="small1" style="height:auto" src="~/Images/GDbitchdark.jpg">
<img id="GDgif3" class="small1" style="height:auto" src="~/Images/GDgif3.gif">
<img id="GDhands" class="small1" style="height:680px" src="~/Images/GDhands.jpg">
<img id="GDdarkforest" class="small1" src="~/Images/GDdarkforest.jpg">
<img id="GD1landscape" class="small1"style="width:800px" src="~/Images/GD1landscape.jpg">

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    imgGal('GDbees');
</script>
<script>
    imgGal('GDbeaverdam');
</script>
<script>
    imgGal('GDbitchlight');
</script>
<script>
    imgGal('GDbitchdark');
</script>
<script>
    imgGal('GDdarkforest');
</script>
<script>
    imgGal('GDgeom');
</script>
<script>
    imgGal('GDhalo');
</script>
<script>
    imgGal('GDincups');
</script>
<script>
    imgGal('GDmahancolor');
</script>
<script>
    imgGal('GDmahannegative');
</script>
<script>
    imgGal('GDmother');
</script>
<script>
    imgGal('GDpainting');
</script>
<script>
    imgGal('GDrenner');
</script>
<script>
    imgGal('GDroadkill');
</script>
<script>
    imgGal('GDsunrise');
</script>
<script>
    imgGal('GDwalk');
</script>
<script>
    imgGal('GDwood');
</script>
<script>
    imgGal('GD1Jezzabeth');
</script>
<script>
    imgGal('GD1landscape');
</script>

<script>
    imgGal('GDgif1');
</script>
<script>
    imgGal('GDgif2');
</script>
<script>
    imgGal('GDgif3');
</script>

<script>
    imgGal('GDhands');
</script>
