@page
@model KrystalWebsite.Pages.ArtPages.PhotographyModel
@{
}

<img id="PICbark" class="small1"  src="~/Images/PICbark.jpg">
<img id="PICcapitol" class="small1"  src="~/Images/PICcapitol.jpg">
<img id="PICcolordepth" class="small1"  src="~/Images/PICcolordepth.jpg">
<img id="PICfallleaves" class="small1"  src="~/Images/PICfallleaves.jpg">
<img id="PICfriendship" class="small1" src="~/Images/PICfriendship.jpg">
<img id="PICkimono" class="small1" src="~/Images/PICkimono.jpg">
<img id="PIClakefront" class="small1"src="~/Images/PIClakefront.jpg">
<img id="PICmurky" class="small1" src="~/Images/PICmurky.jpg">
<img id="PICnightpic" class="small1"src="~/Images/PICnightpic.jpg">
<img id="PICred" class="small1"src="~/Images/PICred.jpg">
<img id="PICleavesonground" class="small1" src="~/Images/PICleavesonground.jpg">


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    imgGal('PICbark');
</script>
<script>
    imgGal('PICcapitol');
</script>
<script>
    imgGal('PICcolordepth');
</script>
<script>
    imgGal('PICfallleaves');
</script>
<script>
    imgGal('PICfriendship');
</script>
<script>
    imgGal('PICkimono');
</script>
<script>
    imgGal('PIClakefront');
</script>
<script>
    imgGal('PICmurky');
</script>
<script>
    imgGal('PICnightpic');
</script>
<script>
    imgGal('PICred');
</script>
<script>
    imgGal('PICleavesonground');
</script>