@page
@model KrystalWebsite.Pages.ArtPages.PhysicalWorkModel
@{
}


<img id="PWeyes" class="small1" src="~/Images/PWeyes.jpeg" alt="the eyes are cut out on the piece">
<img id="PWfantasy" class="small1" src="~/Images/PWfantasy.jpeg">
<img id="PWoracle" class="small1" src="~/Images/PWoracle.jpeg">
<img id="PWring" class="small1" src="~/Images/PWring.jpeg">
<img id="PWbrandon" class="small1" src="~/Images/PWbrandon.jpeg">
<img id="PWreflective" class="small1" src="~/Images/PWreflective.jpeg">

<img id="PWdisolving" class="small1" src="~/Images/PWdisolving.jpg">
<img id="PWdisolving1" class="small1" src="~/Images/PWdisolving1.jpg">
<img id="PWpink" class="small1" src="~/Images/PWpink.jpg">
<img id="PWpinkclose" class="small1" src="~/Images/PWpinkclose.jpg">
<img id="PWblue" class="small1" src="~/Images/PWblue.jpg">
<img id="PWshintero" class="small1" src="~/Images/PWshintero.jpg" alt="inspired by one of my favorite artists, Shintaro Kago">
<img id="PWshinteroblue" class="small1" src="~/Images/PWshinteroblue.jpg" alt="inspired by one of my favorite artists, Shintaro Kago">
<img id="PWshinteroblack" class="small1" src="~/Images/PWshinteroblack.jpg" alt="inspired by one of my favorite artists, Shintaro Kago">

<img id="PAprogress1" class="small1" src="~/Images/PAprogress1.jpg" alt="Oil paint study, girl with a pearl earring">
<img id="PAprogress5" class="small1" src="~/Images/PAprogress5.jpg" alt="Oil paint study, girl with a pearl earring">
<img id="PAprogress6" class="small1" src="~/Images/PAprogress6.jpg" alt="Oil paint study, girl with a pearl earring">
<img id="PAprogress7" class="small1" src="~/Images/PAprogress7.jpg" alt="Oil paint study, girl with a pearl earring">
<img id="DRsimplefigure" class="small1" src="~/Images/DRsimplefigure.jpg">
<img id="DRfigure" class="small1" src="~/Images/DRfigure.jpg">

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>



<script>
    imgGal('PAprogress1');
</script>
<script>
    imgGal('PAprogress5');
</script>
<script>
    imgGal('PAprogress6');
</script>
<script>
    imgGal('PAprogress7');
</script>
<script>
    imgGal('DRfigure');
</script>
<script>
    imgGal('DRsimplefigure');
</script>
<script>
    imgGal('PWbrandon');
</script>
<script>
    imgGal('PWeyes');
</script>
<script>
    imgGal('PWfantasy');
</script>
<script>
    imgGal('PWoracle');
</script>
<script>
    imgGal('PWreflective');
</script>
<script>
    imgGal('PWring');
</script>
<script>
    imgGal('PWshinteroblue');
</script>
<script>
    imgGal('PWshinteroblack');
</script>
<script>
    imgGal('PWshintero');
</script>
<script>
    imgGal('PWpinkclose');
</script>
<script>
    imgGal('PWpink');
</script>
<script>
    imgGal('PWdisolving');
</script>
<script>
    imgGal('PWdisolving1');
</script>
<script>
    imgGal('PWblue');
</script>