@page
@model KrystalWebsite.Pages.ArtPages.About.BioModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br />
            <img id="ProfPic1" style="width:540px;" src="~/Images/ProfPic1.jpg">
        </div>
        <div class="col-sm">
            <br /> <br /> <br /> <br /> 
            <p style="font-family: 'Noto Sans', sans-serif; font-size: large">My first love has always been creative expression, it at first presented itself through drawing and writing and through the years and schooling I have picked up painting, photography, graphic design, and ceramics all of which I enjoy combining together. I would like to grow as a creative mind and use the experiences I’ve had over the years to experiment with different ideas of expression. </p>
            <p style="font-family: 'Noto Sans', sans-serif; font-size: large">I first became interested in computer science in college. I enjoy the logic and structure of programming as well as the psychology behind HCI (human computer interaction) and decided to further my studies in it. I was accepted on a scholarship to the Grace Hopper Celebration in 2018, a celebration of women in computer science, where I learned more about front end development and how I could combine my love and experience in art with my fascination with computer science and programming.</p>
        </div>
    </div>
</div>

