@page
@model KrystalWebsite.Pages.ArtPages.About.ResumeModel
@{
}


<img id="Resume" style="width: 100%" src="~/Images/Resume.jpg">


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<script>
    imgGal('Resume');
</script>
