@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<a href="/ArtPages/Seminars/Jr-Seminar"><img class="small1" src="~/Images/JSprotector.jpg"></a>
<a href="/ArtPages/Graphic-Design"><img class="small1" src="~/Images/GDwalk.jpg"></a>
<a href="/ArtPages/Photography"><img class="small1" src="~/Images/PICfallleaves.jpg"></a>
<a href="/ArtPages/Seminars/Sr-Seminar"><img class="small1" src="~/Images/SS1.jpg"></a>
<a href="/ArtPages/Graphic-Design"><img class="small1" src="~/Images/GDmahancolor.jpg"></a>
<a href="/ArtPages/Photography"><img class="small1" src="~/Images/PICcapitol.jpg"></a>
<a href="/ArtPages/PhysicalWork"><img class="small1" src="~/Images/PWreflective.jpeg"></a>
<a href="/ArtPages/PhysicalWork"><img class="small1" src="~/Images/PWring.jpeg"></a>



