@page
@model KrystalWebsite.Pages.Jr_SeminarModel
@{
}

<div class=" text-center text-container">
<p style="font-family: 'Noto Sans', sans-serif; font-size: large">A series of work contemplating catharsis, where the process of creating the pieces is the cathartic experience focusing on childhood trauma</p>
</div> 

<img id="JSbloodythighs" class="small1" style="width:550px"src="~/Images/JSbloodythighs.jpg">
<img id="JSrunninggirl" class="small1"src="~/Images/JSrunninggirl.jpg">
<img id="JSprotector" class="small1"  src="~/Images/JSprotector.jpg">
<img id="JScouple" class="small1" style= "width: 545px;" src="~/Images/JScouple.jpg">
<img id="JSlookatme" class="small1" style="width:1080px" src="~/Images/JSlookatme.jpg">
<img id="JSgallery1" class="small1"  src="~/Images/JSgallery1.jpg">
<img id="JSgallery2" class="small1" src="~/Images/JSgallery2.jpg">
<img id="JSgalley3" class="small1" align="middle" style="height:450px" src="~/Images/JSgalley3.jpg">


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    imgGal('JSbloodythighs');
</script>
<script>
    imgGal('JScouple');
</script>
<script>
    imgGal('JSlookatme');
</script>
<script>
    imgGal('JSprotector');
</script>
<script>
    imgGal('JSrunninggirl');
</script>
<script>
    imgGal('JSgallery1');
</script>
<script>
    imgGal('JSgallery2');
</script>
<script>
    imgGal('JSgalley3');
</script>