@page
@model KrystalWebsite.Pages.Page1Model
@{
}

<div class=" container text-container text-center">
<p style="font-family: 'Noto Sans', sans-serif; font-size: larger"><b>Chronosynchronicity: </b>the presentation of all stages of a person's life in a single piece of art </p>
<p style="font-family: 'Noto Sans', sans-serif; font-size: large">Exploring the idea of identity and the story of losing and finding it once more through poetry designed in expressive ways. The images were printed and sewn together with colored thread to create a textured booklet</p>
</div>

<img id="SS1" class="small1" src="~/Images/SS1.jpg" alt="This is the front cover and the back cover">
<img id="SS2" class="small1" src="~/Images/SS2.jpg" alt="The beginning when one pretends to be what they believe others want, flowers and boxed in design">
<img id="SS3" class="small1" src="~/Images/SS3.jpg" alt="Losing oneself, chaos reigns and color leaks out of life, unable to recognize ones own identity">
<img id="SS4" class="small1" src="~/Images/SS4.jpg" alt="The chaos of trying to find oneself, always dancing out of ones grasp">
<img id="SS5" class="small1" src="~/Images/SS5.jpg" alt="Color flows in again as things fall together">
<img id="SS6" class="small1" src="~/Images/SS6.jpg" alt="When one becomes comfortable with who they are, sunrise colors">
<img id="SScloseup" class="small1" style="height:auto" src="~/Images/SScloseup.jpg" alt="The book was sewn together in a way that would add to the texture of the pages">
<img id="SSgallery" class="small1" style="height:auto" src="~/Images/SSgallery.jpg" alt="Displayed in gallery with the book and the designs blown up and printed, hung from the celing with the same colored thread">

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    imgGal('SS1');
</script>
<script>
    imgGal('SS2');
</script>
<script>
    imgGal('SS3');
</script>
<script>
    imgGal('SS4');
</script>
<script>
    imgGal('SS5');
</script>
<script>
    imgGal('SS6');
</script>
<script>
    imgGal('SScloseup');
</script>
<script>
    imgGal('SSgallery');
</script>